---
import MainLayout from "@layouts/MainLayout.astro";
import { getImage } from "astro:assets";

import { getCollection, type CollectionEntry } from "astro:content";
import HeaderQuoteForm from "./_components/HeaderQuoteForm.astro";

export async function getStaticPaths() {
  const locationPages = await getCollection("location");
  return locationPages.map((location) => ({
    params: { slug: location.slug },
    props: { location },
  }));
}

type Props = {
  location: CollectionEntry<"location">;
};

const { location } = Astro.props;
const { data, render } = location;
const { Content } = await render();
const bgImage: any = data.bgImage;
const optimizedImage = await getImage({ src: bgImage, width: 1060 });
---

<!-- ${data.bgColor} -->
<MainLayout>
  <div class="">
    <div
      class={`min-h-[24rem]
    bg-cover
    bg-center
    bg-no-repeat
    bg-opacity-50
    `}
      style={`background-image: url('${optimizedImage.src}') `}
    >
      <div
        class="flex items-center justify-center min-h-[24rem] bg-amber-100/80 py-10"
      >
        <div
          class="max-w-screen-2xl container mx-auto px-8 grid lg:grid-cols-2 gap-5"
        >
          <div class="p-5">
            <h1 class="text-xl font-semibold uppercase md:text-3xl mb-10">
              {data.title}
            </h1>

            <div>
              <p class="font-medium leading-relaxed">
                {data.introduction}
              </p>
            </div>
          </div>
          <div
            class="p-5 md:flex items-center justify-center bg-white/70 rounded-xl shadow-sm border-t-2 lg:border-t-0 lg:border-l-2 border-indigo-500"
          >
            <HeaderQuoteForm />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-screen-lg container mx-auto mt-24 mb-10">
      <div class="">
        <h1 class="text-3xl md:text-4xl font-semibold">
          {data.title}
        </h1>
      </div>
    </div>

    <article
      class="mx-auto prose max-w-screen-lg prose-a:text-blue-600 hover:prose-a:text-blue-500"
    >
      <Content />
    </article>
  </div>

  <!-- <div
class="flex items-center border-2 px-2 focus:border-transparent focus:ring-0 rounded mb-2"
>
<svg
  xmlns="http://www.w3.org/2000/svg"
  class="h-5 w-5 text-gray-400"
  viewBox="0 0 20 20"
  fill="currentColor"
>
  <path
    fill-rule="evenodd"
    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
    clip-rule="evenodd"></path>
</svg>
<input
  class="pl-2 outline-none border-none"
  type="text"
  name=""
  id=""
  placeholder="Full name"
/>
</div>
<div
class="flex items-center border-2 py-1 px-3 rounded-2xl mb-2"
>
<svg
  xmlns="http://www.w3.org/2000/svg"
  class="h-4 w-4 text-gray-400"
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
  ></path>
</svg>
<input
  class="pl-2 outline-none border-none"
  type="text"
  name=""
  id=""
  placeholder="Username"
/>
</div>
<div
class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4"
>
<svg
  xmlns="http://www.w3.org/2000/svg"
  class="h-5 w-5 text-gray-400"
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
  ></path>
</svg>
<input
  class="pl-2 outline-none border-none"
  type="text"
  name=""
  id=""
  placeholder="Email Address"
/>
</div>
<div class="flex items-center border-2 py-2 px-3 rounded-2xl">
<svg
  xmlns="http://www.w3.org/2000/svg"
  class="h-5 w-5 text-gray-400"
  viewBox="0 0 20 20"
  fill="currentColor"
>
  <path
    fill-rule="evenodd"
    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
    clip-rule="evenodd"></path>
</svg>
<input
  class="pl-2 outline-none border-none"
  type="text"
  name=""
  id=""
  placeholder="Password"
/>
</div>
<button
type="submit"
class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2"
>Login</button
>
<span class="text-sm ml-2 hover:text-blue-500 cursor-pointer"
>Forgot Password ?</span
> --></MainLayout
>
