---
// import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { data, render } = post;
const { Content } = await render();
---

<MainLayout
  title={data.title}
  description={data.description}
  coverImage={data.coverImage}
  tags={data.tags}
  publishedDate={data.publishedDate}
  pageType="article"
>
  <div class="grid-container relative mx-auto max-w-screen-md md:z-10 mt-40">
    <div
      class="mx-auto w-fit max-w-full py-8 px-6 md:px-10 md:py-12 lg:px-12 lg:py-16 xl:p-16 xl:py-20"
    >
      <header class="pb-10">
        <h1 class="text-4xl font-bold">
          {post.data.title}
        </h1>
        <time datetime={post.data.publishedDate} class="text-gray-500"
          >{post.data.publishedDate.toDateString()}</time
        >
      </header>
      <div class="py-5">
        <Image
          src={data.coverImage}
          widths={[240, 540, 720, data.coverImage.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${data.coverImage.width}px`}
          alt={data.title}
          loading="eager"
          fetchpriority="high"
        />
      </div>

      <article class="prose prose-slate">
        <Content />
      </article>
    </div>
  </div>
</MainLayout>
