---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, publishedDate, coverImage, description } = post.data;
---

<div class="rounded overflow-hidden shadow-lg flex flex-col">
  <a href={`/blog/${post.slug}`} aria-label={title}>
    <Image
      src={coverImage}
      class="w-full object-cover"
      alt={title}
      aria-label={title}
    />
    <div class="px-6 py-4 mb-auto">
      <h3
        class="mb-3 text-xl font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
      >
        <a
          href={`/blog/${post.slug}/`}
          class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2"
          aria-label={title}>{title}</a
        >
      </h3>
      <div class="flex items-center gap-x-4 text-xs">
        <time datetime={publishedDate} class="text-gray-500"
          >{publishedDate.toDateString()}</time
        >
      </div>

      <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
        {description}
      </p>
    </div>
  </a>
</div>
